@charset "utf-8";
/*전체사이트 핵심공통*/


/*사이트 전체설정*/
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    /*글자기본크기 16px을 변경함*/
    color: #333;
    background-color: #f5f7f7;
}








/*IR(Image Replacement)-이미지설명요소 등 안보이게 처리*/
/*
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;

}
*/


